<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX</title>
</head>

<body>
    <h1>List Farms!</h1>
    <ul>
        <% for(let farm of farms){ %>
            <li>
                <%=farm.name %>
                    <a href="/farms/<%=farm._id%>">show</a>
            </li>
            <% } %>
    </ul>
    <div>
        <a href="/farms/new">create</a>
    </div>
</body>

</html>