<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW</title>
</head>

<body>
    <h1>Add Farm!</h1>
    <form action="/farms" method="POST">
        <div>
            <label for="name">Farm Name:</label>
            <input type="text" name="name" id="name" size="30">
        </div>
        <div>
            <label for="city">City:</label>
            <input type="text" name="city" id="city" size="10">
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="text" name="email" id="email" size="30">
        </div>
        <!--
        <div>
            <label for="products">Products:</label>
            <input type="text" name="products" id="products" size="20">
        </div>
        -->
        <div>
            <input type="submit" value="save">
            <a href="/farms">index</a>
        </div>
    </form>
</body>

</html>