<%- include('partials/head');%>

    <body>
        <%- include('partials/navbar');%>
            <div class="container">
                <h1>The Home Page <%= 'hello world' .toUpperCase() %>
                </h1>
                <article>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi doloremque ex molestias
                    dolorem!
                    Sed
                    exercitationem, corrupti in placeat atque qui et quaerat unde ex officia ipsa sunt laborum, alias
                    voluptates.
                </article>
            </div>
    </body>

    </html>