<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW</title>
</head>

<body>
    <h1>New Product!</h1>
    <form action="/products" method="POST">
        <div>
            <label for="name">Product Name:</label>
            <input type="text" name="name" id="name" size="30">
        </div>
        <div>
            <label for="price">Price:</label>
            <input type="text" name="price" id="price" size="10">
        </div>
        <div>
            <label for="category">Category:</label>
            <input type="text" name="category" id="category" size="20">
        </div>
        <div>
            <input type="submit" value="save">
            <a href="/products">index</a>
        </div>
    </form>
</body>

</html>